.globalNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  .logo {
    padding: 10px 0;
    svg {
      width: 100px;
      height: 25px;
      path {
        fill: black;
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;
    span {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:last-child {
        margin-left: 20px;
      }
    }
    nav {
      opacity: 0;
      transition: all 0.2s ease;
      margin-right: 20px;
      ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        li {
          a {
            display: block;
            padding: 10px;
            color: black;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
      &.open {
        opacity: 1;
      }
    }
  }
}
