@import '../../../../styles/animations';

.globalNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  .logo {
    padding: 10px 0;
    cursor: crosshair;
    svg {
      width: 100px;
      height: 25px;
      path {
        fill: var(--text-color);
      }
    }
  }
  .actions {
    display: flex;
    align-items: center;
    button {
      all: unset;
      cursor: pointer;
    }
    .trigger {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-color);
        transition: transform 0.2s ease;
        &.darkActive {
          transform: rotate(180deg);
        }
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    nav {
      opacity: 0.4;
      width: 0px;
      transform: scale(0.2);
      transition: all 0.3s ease;
      overflow: hidden;
      ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        li {
          position: relative;
          a {
            display: block;
            padding: 0 10px;
            color: var(--text-color);
            font-weight: lighter;
            text-transform: uppercase;
            text-decoration: none;
            opacity: 0.5;
          }
        }
        .active {
          font-weight: bold;
          opacity: 1;
        }
      }
      &.open {
        width: 160px;
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

@media (max-width: 600px) {
  .globalNav {
    padding: 10px 10px 0 10px;
  }
}
