.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  > *:nth-child(1) {
    grid-column: span 10;
  }
  > *:nth-child(2) {
    grid-column: span 2;
  }
  > *:nth-child(3) {
    grid-column: span 4;
  }
  > *:nth-child(4) {
    grid-column: span 6;
  }
  > *:nth-child(5) {
    grid-column: span 2;
  }
}

// Change the layout of the tiles for smaller screens.
@media (max-width: 1000px) {
  .grid {
    > *:nth-child(1) {
      grid-column: span 8;
    }
    > *:nth-child(2) {
      grid-column: span 4;
    }
    > *:nth-child(3) {
      grid-column: span 12;
    }
    > *:nth-child(4) {
      grid-column: span 6;
    }
    > *:nth-child(5) {
      grid-column: span 6;
    }
  }
}

// Collapse all tiles into a single column for mobile.
@media (max-width: 600px) {
  .grid {
    gap: 10px;
    > *:nth-child(n + 1) {
      grid-column: span 12;
    }
  }
}
