@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
@import url('https://css.gg/css');
@import './animations';

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  line-height: initial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  // Set a base background color for elastic scroll area. This
  // is especially important in darkMode. The white area seen
  // above and bellow the content when the screen is scrolling
  // is jarring and breaks the relaxing effect of darkMode.
  background: var(--background-color);
  // Actual background gradient using background-image
  background-image: linear-gradient(var(--background-gradient));
  color: var(--text-color);
  min-height: 100vh;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
  // Disable zooming on mobile to reduce misfire when zooming chart
  touch-action: pan-y;
}

h1,
h2,
h3 {
  margin: 0;
}

button:active {
  @extend .push;
}

.content {
  padding: 10px 40px 40px 40px;
}

@media (max-width: 600px) {
  .content {
    padding: 10px 10px 40px 10px;
  }
}
