@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

html {
  line-height: initial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  background: rgb(236, 236, 236);
  color: rgb(41, 41, 41);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.content {
  padding: 10px 40px;
}

h1,
h2,
h3 {
  margin: 0;
}
